<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ site.title_tag_text }}</title>
  <link href='//fonts.googleapis.com/css?family=Roboto:400,400italic,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/syntax.css">
  <link rel="stylesheet" href="css/solo.css">
{% include head.html %}
</head>
<body>
  <div class="container">
    <span class="overline">Diese Seite ist momentan in Bearbeitung. Wir freuen uns, ihnen hier in Kürze <br />unsere neue Seite präsentieren zu dürfen. </span>
    <h1><a href="./">{{ site.h1_tag_text }}</a></h1>
    <h2 class="sub">AGENTUR FÜR VERNETZTES MARKETING,<br />MARKENKOMMUNIKATION & GESTALTUNG</h2>
    <span class="address">
      BRUNNENSTRASSE 69 _ 13355 BERLIN<br />
      TEL. +49 (0)30 223 909 11 _ FAX +49 (0)30 236 158 95<br />
      <a class="mailto" href="mailto:info@schoenemight.com" target="_top">INFO@SCHOENEMIGHT.COM</a>
    </span>
    <span class="internet">
      www.schoenemight.com
    </span>
  </div>
{% include scripts.html %}
</body>
</html>
